!!! 5
%html
  %head
    %title= "La Cala Catering"
    %meta{ :content => "", :name => "description" }
    %meta{ :content => "", :name => "author" }
    %meta{ :content => "3 days", :name => "revisit-after" }
   
    %link{ :href => "/feed", :rel => "alternate", :title => "Atom", :type => "application/atom+xml" }
    %link{ :href => "/css/styles.css", :media => "screen", :rel => "stylesheet" }
  %body
    %header
      %h1 
        %img{ :src => "/img/sunflower.jpg"}
        #title
          %a{ :href => "/"} La Cala Catering
      %nav#menu
        %ul
          %li 
            %a Services
          %li
            %a Food
          %li
            %a Menus
          %li
            %a About

    #content
      =yield    
      
    %footer
      %p
        Copyright 2012 La Cala Catering. All rights reserved.
