@import url(lato.css);
html {
    margin: 0;
    padding: 0;
    background: url(../img/sunflower_big.png) left top no-repeat;
}

body {
    background: #fff;
    width: 800px;
    margin: 50px auto;
    font: 18px/30px 'LatoLight', Arial, sans-serif;
    color: #666666;
}



a {
    text-decoration: none;
}

h1 {
    font: 28px/30px 'LatoLight', Arial, sans-serif;
}

h2 {
    font: 24px/30px 'LatoLight', Arial, sans-serif;
}

h3 {
    font: 18px/20px 'LatoLight', Arial, sans-serif;
}

a:link, a:visited {
    color: #FF8673;
}

a:hover {
    color: #FF5A40;
}

h1 a:link, h1 a:visited {
    color: #ff2200;
}

#content {
    min-height: 700px;
}

#main {
    width: 100%;
    min-height: 800px;
    margin-top: -10px;
    float: left;
}

#image {
    position: relative;
    float: right;
}

#footer {
    position: relative;
    font-size: 11px;
    color: #999999;
    width: 940px;
    margin-top: -100px;
}

#footer p {

    width: 100%;
}

header {
    height: 100px;
}

header h1 {
    font: 80px/80px 'Arapey-Italic', Arial, sans-serif;
    padding-top: 70px;
    padding-bottom: 8px;
    padding-left: 0px;
    margin: 0px;
}

h1, h2 {
    color: #FF8673;
}

.logo {
    margin-left: 0px;
    margin-top: -60px;
    height: 120px;
}

#main p {
    margin: 20px 0;
}

#menu {

    text-align: left;
    font: 36px/40px 'LatoLight', Arial, sans-serif;
}

.menu ul {
    padding-left: 0px;
    list-style-type: none;
}

.menu li {
    display: inline;
    padding-right: 30px;
}

.contact {
    text-align: center;
}

.shadow {
    -moz-box-shadow: 3px 3px 4px #000;
    -webkit-box-shadow: 3px 3px 4px #000;
    box-shadow: 3px 3px 4px #000;
}

#menu-sections {
    position: relative;
   
    border-bottom: 1px solid #ccc;
    min-height: 42px;
}

#menu-sections li {
    list-style-type: none;
    float: left;
    display: inline;
    border-bottom: 0;
    border: 1px solid #ccc;
    line-height: 41px;
    padding-left: 20px;
    padding-right: 20px;
}
#menu-sections li a {

    padding: 4px 5px 4px 5px;
    
}

#menu-sections h2 {
    margin-top: 6px;
    margin-bottom: 5px;
}

#menu-sections li.selected {
    z-index: 1;
    background-color: white;
    border-bottom: 1px solid white;
}

#menu-sections li.first {
    border-top-left-radius: 5px;
}

#menu-sections li.last {
    border-left: 0px;
    border-top-right-radius: 5px;
}
.clear {
    clear: both;
}

#dish {
    width: 650px;
}

#dish p {
    width: 600px;
}

/*
 * Buffet styling
 */
.buffet {
    width: 55%;
    float: left;
}

.buffet-menus h2 {
    text-align: center;
}

.buffet-menus {
    width: 38%;
    float: right;
    padding-left: 20px;
}

.menu-tab {
    width: 250px;
    min-height: 150px;
    border: 1px solid #ccc;
    border-radius: 5px 5px;
    margin: auto;
    margin-top: 5px;
}

.menu-tab h3 {
    text-align: center;
    border-bottom: 1px solid #ccc;
    margin-top: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.menu-tab li {
    padding-right: 10px;
}

#gallery {
    width: 800px;
    height: 400px;
    background: #000;
}
